:root{
    --Soft-blue: hsl(215, 51%, 70%)
    --Cyan: hsl(178, 100%, 50%)
    --Very-dark-blue: hsl(217, 54%, 11%)
    --Very-dark-blue: hsl(216, 50%, 16%)
    --Very-dark-blue: hsl(215, 32%, 27%)
    --White: hsl(0, 0%, 100%)
}
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');
*{
    font-family: 'Outfit', sans-serif;
}
main{
    font-size: 18px;
    height: 40%;
    display: flex;
    align-content: center;
    justify-content: center;
}
body{
    background-color: hsl(217, 54%, 11%);
    margin: 0;
    margin-bottom: 1rem;

}
.cardBody{
    margin: 25% 0;
    background-color: hsl(216, 50%, 16%);
    border-radius: 10px;
    width: 20rem;
    box-shadow: 10px 10px 30px black;
}
.cardBody h3{
    color: white;
}
.cardBody h3:hover{
    color: cyan;
    cursor: pointer;
}
/*NFT Preview*/
.NFT{
    display: flex;
}
.NFTpreview{
    position: relative;
    border-radius: 10px;
    width: 18rem;
    margin-top: 1rem;
    margin-left: 1rem;
}
.NFThover{
    position: absolute;
    z-index: 1;
    margin-top: 1rem;
    margin-left: 1rem;
    background-color: hsla(178, 100%, 50%, 0.5);
    height: 18rem;
    width: 18rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    opacity: 0;
}
.NFThover img{
    padding: 43% 50%;
    padding-left: 51.3%;
    width: 2rem;
    height: 2rem;
}
.NFThover:hover{
    opacity: 1;
    cursor: pointer;
    border-radius: 10px;
}
/*NFT Preview*/
/*Card Text*/
.cardText{
    margin: 0rem 1rem 0rem 1rem;
}
.cardText p{
    font-size: 15px !important;
    color: hsl(215, 51%, 70%);
}
.NFTtext{
    display: flex;
    flex-direction: row;
    color: white;
    margin-top: px;
    justify-content: space-between;
}
.NFTtext h6{
    margin: 0rem 0 0rem 0;
}
.clock{
    width: 15px;
    height: 15px;
    /*position: absolute;*/
}
.ethereum{
    width: 10px;
    height: 15px;
    position: absolute;
}
.ethereumPrice{
    color: cyan;
    padding-bottom: px;
    padding-left: 15px;
    padding-top: 3px;
}
.ethereumPart{
    margin-right: 20px;
}
.clockPart{
    padding-left: 10px;
    display: flex;
    flex-direction: row;
}
.clockText{
    padding-top: 3px;
    padding-left: 5px;
    color: hsl(215, 51%, 70%);
}
/*Card Text*/
.line{
    margin-top: 10px;
    border-width: 1px;
    border-color: hsl(215, 32%, 27%);
}
/*Card Footer*/
.cardFooter{
    margin: 0.5rem 0rem 0.5rem 0;
    display: flex;
    flex-direction: row;
}
.cardFooter p{
    color: hsl(215, 51%, 70%);
    font-size: 14px !important;
    margin-left: 10px;
    margin-top: 10px;
}
span{
    color: white;
}
span:hover{
    color: cyan;
    cursor: pointer;
}
.cardFooter img{
    width: 30px;
    height: 30px;
    border-style: solid;
    border-radius: 50%;
    border-width: 1px;
    border-color: white;
}
footer{
    width: 100%;
}
/*Card Footer*/